<md-content layout layout-align='center center' style="height:90vh;background-image: url('../images/1.jpg');
background-repeat:no-repeat;background-size:cover;">

    <div layout="column" layout-xs="column" layout-align="center center" style="height: 90%;margin-left: 9%">

        <div layout='row' layout-xs="column" layout-padding style="margin-right: 12%">
            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="!isLogined"
                 ng-click="ChangeRoute('raiseticket')" id="main_route"><h2>RAISE TICKET</h2><br/>
                <i class="ion-ios-compose mainIcon" style="margin-top:-18px"></i>
            </div>

            <span flex></span>

            <div md-whiteframe='9' layout="column" layout-align="center center"
                 ng-click="ChangeRoute('viewticket')" id="main_route"><h2>TICKET STATUS</h2><br/>
                <i class="ion-ios-paper mainIcon" style="margin-top:-18px"></i>
            </div>

            <span flex></span>

            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="!isLogined"
                 ng-click="ChangeRoute('newjoin')" id="main_route"><h2>NEW REQUIREMENT</h2><br/>
                <i class="ion-monitor mainIcon" style="margin-top:-18px"></i>
            </div>



            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="isLogined"
                 ng-click="ChangeRoute('problem')" id="main_route"><h2>PROBLEM TYPE</h2><br/>
                <i class="ion-ios-paper mainIcon" style="margin-top:-18px"></i>
            </div>

            <span flex></span>

            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="isLogined"
                 ng-click="ChangeRoute('priority')" id="main_route"><h2>PRIORITY TYPE</h2><br/>
                <i class="ion-ios-paper mainIcon" style="margin-top:-18px"></i>
            </div>

            <span flex></span>
        </div>

        <div layout='row' layout-xs="column" layout-padding style="margin-right: 12%">
            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="isLogined"
                 ng-click="ChangeRoute('project')" id="main_route"><h2>PROJECT</h2><br/>
                <i class="ion-ios-paper mainIcon" style="margin-top:-18px"></i>
            </div>

            <span flex></span>

            <div md-whiteframe='9' layout="column" layout-align="center center" ng-if="isLogined"
                 ng-click="ChangeRoute('newreq')" id="main_route"><h2>VIEW REQUIREMENT</h2><br/>
                <i class="ion-ios-paper mainIcon" style="margin-top:-18px"></i>
            </div>
        </div>




    </div>

</md-content>