
<div layout="column" md-whiteFrame="16" style="height:100%;padding-left:18%">

    <div layout="row" layout-align="center center" style="width:100%">
        <md-button class="md-primary md-raised filterBtn" ng-click="ChangeRoute('home')">Back</md-button>

        <h2 style="padding-left: 25%">New Requirement</h2>
        <span flex></span>
    </div>

    <div layout="row" layout-padding layout-xs="column">

        <md-input-container class="md-block">
            <label>Emp Name</label>
            <input type="text" ng-model="hr.emp_name" ng-blur="camelcase('emp_name')" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Emp Code</label>
            <input type="text" ng-model="hr.emp_code">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Mobile No.</label>
            <input limit-to="10" type="number" class="form-control input-lg" ng-required="true" ng-model="hr.mobile"
                   ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/">
        </md-input-container>

    </div>



    <div layout="row" layout-xs="column" layout-padding>
        <md-input-container class="md-block">
            <label>Location</label>
            <input type="text" ng-model="hr.location" ng-blur="camelcase('location')">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Project</label>
            <md-select ng-model="hr.project">
                <md-option ng-repeat="x in dropDown_data[0]" ng-value="x.id">
                    {{x.name}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container class="md-block">
            <label>Requirement</label>
            <md-select ng-model="hr.requirement" multiple>
                <md-option value="laptop">Laptop</md-option>
                <md-option value="desktop">Desktop</md-option>
                <md-option value="telephone">Telephone</md-option>
                <md-option value="email">Email</md-option>
                <md-option value="biometric">Biometric</md-option>
            </md-select>
        </md-input-container>

    </div>

    <div layout="row" layout-xs="column" layout-padding>
        <md-input-container class="md-block">
            <label>DOJ</label>
            <input type="text" class="form-control" ng-model="hr.Date"
                   placeholder="DD/MM/YYYY" ng-focus="show_date_error=''"
                   ng-change="change_input_format('Date')">
            <p1 style="color:red;font-size:12px" ng-if="new_model=='Date'">
                {{show_date_error}}
            </p1>


            <!--<md-datepicker ng-model="hr.Date" md-open-on-focus></md-datepicker>-->
        </md-input-container>

        <md-input-container class="md-block">
            <label>Job Title</label>
            <input type="text" ng-model="hr.job" ng-blur="camelcase('job')">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Gender</label>
            <md-select ng-model="hr.gender">
                <md-option value="male">Male</md-option>
                <md-option value="female">Female</md-option>
            </md-select>
        </md-input-container>

    </div>


    <div layout="row" layout-xs="column" layout-padding>

        <md-input-container class="md-block">
            <label>Vertical</label>
            <input type="text" ng-model="hr.vertical" ng-blur="camelcase('vertical')">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Cost Center</label>
            <input type="text" ng-model="hr.cost_center" ng-blur="camelcase('cost_center')">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Reporting Manager</label>
            <input type="text" ng-model="hr.reporting_manager" ng-blur="camelcase('reporting_manager')">
        </md-input-container>

    </div>



    <div layout="row" layout-xs="column" layout-padding>
        <md-button class="md-primary md-raised filterBtn" ng-disabled="Loader"
                   style="margin-top: auto;" ng-click="submit_new_requirement_data()">Submit
        </md-button>
        <p3 style="color:red;font-size:16px;min-width: 149px;">{{ErrorMsg}}</p3>
    </div>

    <div ng-if="Loader" layout layout-align="center center" class="Loader">
        <md-progress-circular md-diameter="50" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>