<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">


    <md-button class="md-primary md-raised" ng-click="ChangeRoute('home')">
        Back
    </md-button>

    <h2 style="padding-left: 35%">PROBLEM TYPE</h2>

    <span flex=""></span>


    <md-button class="md-primary md-raised" ng-click="showAdvanced($event);addRow()">
        ADD NEW
    </md-button>


</div>



<div layout="column" style="padding-left: 122px" class="animated slideInLeft" ng-cloak>
    <table class="table" md-whiteframe="2" id="MyTable" ng-if="view_data.length>0">
        <tr>
            <th>S.No.</th>
            <th>Problem Type</th>
            <th>Action</th>
        </tr>
        <tbody>
        <tr ng-repeat="item in view_data">
            <td>{{$index+1}}</td>
            <td ng-hide="isEdit">{{item.name}}</td>
            <td ng-show="isEdit">
                <md-input-container>
                    <label>Problem</label>
                    <input type="text" ng-model="item.name" name="name" required>
                </md-input-container>
            <td ng-show="!this.isEdit">
                <md-button type='button' class="md-primary md-raised filterBtn" ng-click="this.isEdit=true">
                    Edit
                </md-button>

                <md-button type='button' class="md-primary md-raised filterBtn"
                           ng-click="delete_problem_type(item,$index)">Delete
                </md-button>

            </td>
            <td ng-show="this.isEdit">

                <span layout="row" layout-align="center">

                    <md-button type='button' class="md-primary md-raised filterBtn"
                               ng-click="update_problem_type(item,this)">Save</md-button>
                <md-button type='button' class="md-primary md-raised filterBtn"
                           ng-click="this.isEdit=false">Cancel</md-button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
