<md-button class="md-primary md-raised filterBtn" ng-click="ChangeRoute('home')">
    Back
</md-button>

<div layout="column" layout-align="center center" style="margin-top: -3%">

    <div ng-if="!isLogined" md-whiteFrame="20" style="width:80%">
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <h2> TICKET STATUS </h2>
                <span flex></span>
            </div>

            <div layout="row" layout-padding layout-xs="column">
                <md-input-container class="md-block">
                    <label>Ticket No./ Complaint No.</label>
                    <input type="text" ng-model="emp.ticket_number" ng-required="true">
                </md-input-container>

                <md-button class="md-primary md-raised filterBtn" ng-click="view_ticket_report()" ng-disabled="Loader"
                           style="margin-top: auto;">Submit
                </md-button>
                <p3 style="color:red;font-size:16px;min-width: 149px;">{{ErrorMsg}}</p3>
            </div>

        </div>

    </div>

    <div layout layout-align="center" ng-if="!isLogined" style="width:98%">
        <table md-whiteframe="20" id="MyTable" ng-class="report_data.length>0?'animated slideInLeft':'animated slideInRight'" ng-show="report_data.length>0">
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No.</th>
                <th>Location</th>
                <th>Problem Type</th>
                <th>Project Type</th>
                <th>Problem Description</th>
                <th>Job Title/ Designation</th>
                <th>Date Of Complaint</th>
                <th>Status</th>
                <th>Priority Type</th>


            </tr>

            <tbody>
            <tr ng-repeat="item in report_data">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.location}}</td>
                <td>{{item.problem_type}}</td>
                <td>{{item.project_type}}</td>
                <td>{{item.description}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.doc}}</td>

                <td>{{item.status}}</td>
                <td>{{item.priority}}</td>
            </tr>
            </tbody>


        </table>
    </div>


    <!--************************************************************************************************************-->


    <!--Page after Login-->

    <div layout="column" layout-align="center center" ng-if="isLogined" style="width:90%">

        <div layout="row" layout-xs="column" md-whiteFrame="60" style="width:90%;padding:1%">
            <md-input-container class="md-block">
                <label>StartDate</label>
                <md-datepicker ng-model="ticket_report.SDate" md-placeholder="Enter date"
                               md-open-on-focus></md-datepicker>
            </md-input-container>
            <md-input-container class="md-block">
                <label>EndDate</label>
                <md-datepicker ng-model="ticket_report.EDate" md-placeholder="Enter date"
                               md-open-on-focus></md-datepicker>
            </md-input-container>


            <md-button class="md-primary md-raised filterBtn" ng-click="load_ticket_data()">Load</md-button>
            <md-button class="md-primary md-raised filterBtn" ng-click="export_ticket_data()">Export</md-button>
        </div>
    </div>
        <div ng-if="Loader" layout layout-align="center center" class="Loader">
            <md-progress-circular md-diameter="50" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div>
            <h3 style="margin-left: 12px">{{NoData}}</h3>
        </div>
        <div layout="column" layout-align="center center" ng-if="isLogined" style="width:94%">
        <table md-whiteframe="20" id="downTable" class="animated slideInLeft" ng-if="report_data.length>0">
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No.</th>
                <th>Location</th>
                <th>Problem Type</th>
                <th>Project</th>
                <th>Problem Description</th>
                <th>Job Title/ Designation</th>
                <th>Date Of Complaint</th>
                <th>Priority Type</th>
                <th >Status</th>

            </tr>

            <tbody>
            <tr ng-repeat="item in report_data">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.location}}</td>
                <td>{{item.problem_type[0].toUpperCase()+item.problem_type.substr(1, item.problem_type.length)}}</td>
                <td>{{item.project_type}}</td>
                <td>{{item.description}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.doc}}</td>
                <td>{{item.priority}}</td>
                <td ng-dblclick="showEdit=!showEdit">
                    <span ng-hide="showEdit">{{item.status}}</span>
                    <span ng-show="showEdit">
                <select ng-model="item.status" ng-change="showEdit=false;update_data(item)" >
                <option value="Pending">Pending</option>
                <option value="Inprocess">In-Process</option>
                <option value="Resolved">Resolved</option>
                    <option value="Not Approved">Not Approved</option>

                </select>
                </span>
                </td>


            </tr>
            </tbody>


        </table>


    </div>

</div>






